@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,700');
@import "../node_modules/bulmaswatch/solar/variables";
@import "../node_modules/bulma/bulma.sass";
// @import "../node_modules/bulmaswatch/solar/bulmaswatch.min.css";
@import "../node_modules/bulmaswatch/solar/overrides";

.app-child-tile{
    height: 100%;
    width: 100%;
    min-width: 220px;
}