<section class="section">
    <h2 class="title is-2">Select a category to search</h2>
</section>
<section class="section">
    <div>
        <form method="GET" action="/category">
            <div class="field">
                <label class="label is-medium">Category</label>
                <div class="control">
                    <div class="select is-primary is-medium">
                        <select name="category">
                            {{#each categories}}
                            <option>{{this.category}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <input class="button is-primary is-medium" type="submit">
            </div>
        </form>
    </div>
</section>